@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        All you need is a good credit score.
        Get all the only you need.
    </p>
    <p>@Html.ActionLink("book a loan", "Index", "Loan", new { area = "" }, new { @class="btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Get the latest and most efficient loan website Statistics a nd analysis without any penny
            get latest and trending offers from top sites in nigeria
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Trending News</h2>
        <p>Get trending news on latest offers and servirces from our partnering companies such as renmoney ,startcredit  etc</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage your wealth</h2>
        <p>we offer different services that helps you grow in wealth  </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>